.hub{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    justify-content: center;    
    margin: 50px 70px 100px;
}
.cajanoso{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 50px;
}
.form{
    height: 425px;
    width: 900px;
    font-size: 15px;
         
}
.medi{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}